<%- include('partials/head.ejs')%>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <%- include('partials/header.ejs')%>
    <main>
      <h3 class="sections">Nuestras ofertas para vos</h3>
      <section>
          <article class="product">
              <img src="/images/bicicleta-orbea-rise-m20.jpg" alt="Mountain Bike">
              <div class="producto-descripcion">
                  <!-- <i class="fas fa-truck"></i> -->
                  <div class="price-bar">
                      <p class="precio">$10.000</p>
                      <p class="precio1">$9000</p>
                      <p class="descuento">10% off</p>
                  </div>
                  <h4 class="description">Mountain Bike</h4>
              </div>
          </article>
          <article class="product">
              <img src="/images/bicicleta-orbea-rise-m21.jpg" alt="Mountain Bike 2">
              <div class="producto-descripcion">
                  <!-- <i class="fas fa-truck"></i> -->
                  <div class="price-bar">
                      <p class="precio">$13.000</p>
                      <p class="precio1">$11.700</p>
                      <p class="descuento">10% off</p>
                  </div>
                  <h4 class="description">Mountain Bike 2</h4>
              </div>
          </article>
          <article class="product">
            <img src="/images/bicicleta-orbea-rise-m20.jpg" alt="Mountain Bike">
            <div class="producto-descripcion">
                <!-- <i class="fas fa-truck"></i> -->
                <div class="price-bar">
                    <p class="precio">$10.000<p>
                    <p class="precio1">$9000</p>
                    <p class="descuento">10% off</p>
                </div>
                <h4 class="description">Mountain Bike</h4>
            </div>
        </article>
        <article class="product">
            <img src="/images/bicicleta-orbea-rise-m21.jpg" alt="Mountain Bike 2">
            <div class="producto-descripcion">
                <!-- <i class="fas fa-truck"></i> -->
                <div class="price-bar">
                    <p class="precio">$13.000</p>
                    <p class="precio1">$11.700</p>
                    <p class="descuento">10% off</p>
                </div>
                <h4 class="description">Mountain Bike 2</h4>
            </div>
        </article>
      </section>
      <h3 class="sections">SLIDER</h3>
      <section>
          <!-- SLIDER -->
          <a href="">SLIDER</a>
      </section>
  </main>
    <%- include('partials/footer.ejs')%>
  </body>
</html>
