<%- include('partials/head.ejs')%>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <%- include('partials/header.ejs')%>
    <%- include('partials/footer.ejs')%>
  </body>
</html>
